# Database Configuration
DATABASE_URL="postgresql://root:12345@localhost:5435/hyf-adwiseli-db?schema=public"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Server Configuration
PORT=3001
NODE_ENV=development